APScheduler==3.6.3
astroid==2.4.2
certifi==2020.6.20
cffi==1.14.3
cryptography==3.1.1
decorator==4.4.2
docxtpl==0.10.5
isort==5.6.4
Jinja2==2.11.2
lazy-object-proxy==1.4.3
lxml==4.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
pkg-resources==0.0.0
pycparser==2.20
pylint==2.6.0
python-docx==0.8.10
python-telegram-bot==13.0
pytz==2020.1
six==1.15.0
toml==0.10.1
tornado==6.0.4
typed-ast==1.4.1
tzlocal==2.1
wrapt==1.12.1
